<button class="btn btn-default component-holder" type="submit" ng-click="blockly.js.blockly.Bloco.Executar()" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" data-component="crn-button" id="crn-button-552991"><i class="glyphicon glyphicon-home"></i> <span>Button </span></button><div class="modal fade" id="modal73847">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="component-holder modal-header">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">HEADER</div>
       </div>
      </div>
      <div class="modal-body">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="false"><h1 class="lead text-center component-holder" xattr-position="text-center" data-component="crn-title" id="crn-title-144726">Title</h1></div>
       </div>
     </div>
     <div class="modal-footer">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">FOOTER</div>
       </div>
     </div>
   </div>
 </div>
</div>

