<button class="btn btn-default component-holder" type="submit" ng-click="" xattr-size="" xattr-fullsize="" xattr-theme="btn-default" data-component="crn-button" id="crn-button-459234"><i class="glyphicon glyphicon-home"></i> <span>Button </span></button><div class="modal fade" id="modal6845">
 <div class="modal-dialog">
   <div class="modal-content">
     <div class="component-holder modal-header">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">HEADER</div>
       </div>
      </div>
      <div class="modal-body">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">dkfslkdflksdkjflksdjlkfsdf</div>
       </div>
     </div>
     <div class="modal-footer">
       <div class="list-group list-group-sm row">
         <div data-container="true" data-replace="true">FOOTER</div>
       </div>
     </div>
   </div>
 </div>
</div>
